openapi: 3.1.0
info:
  title: FlowShield API
  version: 1.9.5
  description: >
    FlowShield productivity tracking API.
    All endpoints except auth require a Bearer JWT token
    obtained from /api/auth/login or /api/auth/google.
  contact:
    name: FlowShield
    url: https://flowshield.app
servers:
  - url: https://flowshield.app
    description: Production
  - url: http://localhost:3000
    description: Local development

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Error:
      type: object
      properties:
        error: {type: string}
      required: [error]
    User:
      type: object
      properties:
        id: {type: string, format: uuid}
        email: {type: string, format: email}
        name: {type: string, nullable: true}
        role: {type: string, enum: [USER, ADMIN]}
        subscriptionTier: {type: string, enum: [FREE, PRO, TEAM]}
        createdAt: {type: string, format: date-time}
    Session:
      type: object
      properties:
        id: {type: string, format: uuid}
        startTime: {type: string, format: date-time}
        endTime: {type: string, format: date-time, nullable: true}
        plannedDuration: {type: integer, description: Duration in minutes}
        actualDuration: {type: integer, nullable: true}
        sessionType: {type: string, enum: [WORK, STUDY, CREATIVE]}
        productivityScore: {type: integer, nullable: true}
        completed: {type: boolean}
        isPaused: {type: boolean}
    AnalyticsSummary:
      type: object
      properties:
        totalSessions: {type: integer}
        completedSessions: {type: integer}
        completionRate: {type: number}
        totalFocusMinutes: {type: integer}
        averageProductivityScore: {type: number}
    CategoryRule:
      type: object
      properties:
        id: {type: string, format: uuid}
        keyword: {type: string}
        matchField: {type: string}
        category: {type: string}
        isProductive: {type: boolean}
        isGlobal: {type: boolean}
        priority: {type: integer}

security:
  - bearerAuth: []

paths:
  /api/auth/login:
    post:
      tags: [Auth]
      summary: Log in with email and password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: {type: string, format: email}
                password: {type: string}
                rememberMe: {type: boolean}
      responses:
        200:
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: {type: string}
                  user:
                    $ref: '#/components/schemas/User'
        401: {description: Invalid credentials}
        429: {description: Rate limited}

  /api/auth/signup:
    post:
      tags: [Auth]
      summary: Create a new account
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: {type: string, format: email}
                password: {type: string, minLength: 8}
                name: {type: string, maxLength: 100}
      responses:
        201: {description: Account created}
        409: {description: Email already in use}
        429: {description: Rate limited}

  /api/auth/google:
    get:
      tags: [Auth]
      summary: Initiate Google OAuth
      security: []
      responses:
        302: {description: Redirect to Google consent screen}

  /api/auth/google/callback:
    get:
      tags: [Auth]
      summary: Google OAuth callback - issues JWT
      security: []
      responses:
        302: {description: Redirect to dashboard}

  /api/auth/verify:
    get:
      tags: [Auth]
      summary: Verify email via token
      security: []
      parameters:
        - {in: query, name: token, required: true, schema: {type: string}}
      responses:
        302: {description: Redirect after verification}

  /api/sessions:
    get:
      tags: [Sessions]
      summary: List recent sessions
      parameters:
        - {in: query, name: limit, schema: {type: integer, default: 20}}
      responses:
        200:
          description: Session list
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Session'
        401: {description: Unauthorized}
    post:
      tags: [Sessions]
      summary: Start a new focus session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [plannedDuration]
              properties:
                plannedDuration: {type: integer, minimum: 1, maximum: 480}
                sessionType: {type: string, enum: [WORK, STUDY, CREATIVE]}
                startTime: {type: string, format: date-time}
                projectId: {type: string, format: uuid, nullable: true}
      responses:
        201:
          description: Session started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        401: {description: Unauthorized}

  /api/sessions/{id}:
    patch:
      tags: [Sessions]
      summary: Update session (end, cancel, score)
      parameters:
        - {in: path, name: id, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                endTime: {type: string, format: date-time}
                actualDuration: {type: integer}
                completed: {type: boolean}
                productivityScore: {type: integer, minimum: 0, maximum: 100}
      responses:
        200:
          description: Session updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        401: {description: Unauthorized}
        404: {description: Not found}

  /api/sessions/active:
    get:
      tags: [Sessions]
      summary: Get currently active session
      responses:
        200: {description: Active session or null}
        401: {description: Unauthorized}

  /api/sessions/{id}/toggle-pause:
    post:
      tags: [Sessions]
      summary: Toggle session pause state
      parameters:
        - {in: path, name: id, required: true, schema: {type: string, format: uuid}}
      responses:
        200: {description: Pause state toggled}
        401: {description: Unauthorized}

  /api/activity/sync:
    post:
      tags: [Activity]
      summary: Sync activity logs from any client source
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [activities]
              properties:
                activities:
                  type: array
                  items:
                    type: object
                    required: [timestamp, windowTitle, processName, applicationName, durationSeconds]
                    properties:
                      timestamp: {type: string, format: date-time}
                      windowTitle: {type: string}
                      processName: {type: string}
                      applicationName: {type: string}
                      durationSeconds: {type: integer}
                      category: {type: string}
                      sessionId: {type: string, format: uuid}
                      domain: {type: string, description: Browser-only}
                source: {type: string, enum: [desktop, browser, mobile]}
      responses:
        200: {description: Activities synced}
        401: {description: Unauthorized}

  /api/activity/analysis:
    get:
      tags: [Activity]
      summary: Activity breakdown by category for a period
      parameters:
        - {in: query, name: period, schema: {type: string, enum: [week, month]}}
      responses:
        200: {description: Category breakdown}
        401: {description: Unauthorized}

  /api/activity/recategorize:
    post:
      tags: [Activity]
      summary: Recategorize one or more activity records
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                activityId: {type: string, format: uuid}
                applicationName: {type: string}
                newCategory: {type: string}
                bulk: {type: boolean, description: Re-apply all rules to all activities}
      responses:
        200: {description: Recategorized}
        401: {description: Unauthorized}

  /api/analytics:
    get:
      tags: [Analytics]
      summary: Productivity analytics summary and daily stats
      parameters:
        - {in: query, name: period, schema: {type: string, enum: [week, month]}}
      responses:
        200:
          description: Analytics data
          content:
            application/json:
              schema:
                type: object
                properties:
                  summary:
                    $ref: '#/components/schemas/AnalyticsSummary'
                  dailyStats: {type: array, items: {type: object}}
                  peakTimes: {type: object}
        401: {description: Unauthorized}

  /api/analytics/insights:
    get:
      tags: [Analytics]
      summary: AI-generated productivity insights
      responses:
        200: {description: Insights array}
        401: {description: Unauthorized}

  /api/analytics/distractions:
    get:
      tags: [Analytics]
      summary: Distraction analysis with week-over-week trend
      parameters:
        - {in: query, name: period, schema: {type: string, enum: [week, month]}}
      responses:
        200:
          description: Distraction data
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalDistractionMinutes: {type: integer}
                  distractionPercentage: {type: number}
                  trendChange: {type: number}
                  topDistractions: {type: array, items: {type: object}}
                  dailyTrend: {type: array, items: {type: object}}
        401: {description: Unauthorized}

  /api/analytics/yearly:
    get:
      tags: [Analytics]
      summary: Yearly focus heatmap data
      responses:
        200: {description: Yearly data}
        401: {description: Unauthorized}

  /api/categories:
    get:
      tags: [Categories]
      summary: Get canonical category list and all rules
      responses:
        200:
          description: Categories and rules
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories: {type: array, items: {type: string}}
                  productiveCategories: {type: array, items: {type: string}}
                  aliases: {type: object}
                  rules:
                    type: array
                    items:
                      $ref: '#/components/schemas/CategoryRule'
        401: {description: Unauthorized}
    post:
      tags: [Categories]
      summary: Create user-specific category correction rule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [keyword, category]
              properties:
                keyword: {type: string}
                matchField: {type: string, enum: [processName, applicationName, windowTitle]}
                category: {type: string}
                isProductive: {type: boolean}
      responses:
        201: {description: Rule created}
        400: {description: Validation error}
        401: {description: Unauthorized}

  /api/leaderboard:
    get:
      tags: [Leaderboard]
      summary: Focus time leaderboard (Redis-cached, 5-min TTL)
      parameters:
        - {in: query, name: period, schema: {type: string, enum: [week, month]}}
      responses:
        200: {description: Leaderboard entries}
        401: {description: Unauthorized}

  /api/goals:
    get:
      tags: [Goals]
      summary: List productivity goals
      responses:
        200: {description: Goals}
        401: {description: Unauthorized}
    post:
      tags: [Goals]
      summary: Create a productivity goal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [targetValue]
              properties:
                targetValue: {type: integer, minimum: 1}
                type: {type: string, enum: [DAILY_TIME, WEEKLY_TIME, STREAK, PRODUCTIVITY_SCORE]}
      responses:
        201: {description: Goal created}
        401: {description: Unauthorized}

  /api/projects:
    get:
      tags: [Projects]
      summary: List projects
      responses:
        200: {description: Projects}
        401: {description: Unauthorized}
    post:
      tags: [Projects]
      summary: Create a project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: {type: string, minLength: 1, maxLength: 100}
                color: {type: string, pattern: '^#[0-9a-fA-F]{6}$'}
      responses:
        201: {description: Project created}
        401: {description: Unauthorized}

  /api/user/profile:
    get:
      tags: [User]
      summary: Get current user profile
      responses:
        200: {description: Profile}
        401: {description: Unauthorized}
    patch:
      tags: [User]
      summary: Update display name
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: {type: string, maxLength: 100}
      responses:
        200: {description: Updated}
        401: {description: Unauthorized}

  /api/user/preferences:
    get:
      tags: [User]
      summary: Get user preferences
      responses:
        200: {description: Preferences}
        401: {description: Unauthorized}
    patch:
      tags: [User]
      summary: Update user preferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workStyle: {type: string}
                preferredDuration: {type: integer, minimum: 5, maximum: 240}
                primaryDistractions: {type: array, items: {type: string}}
                workEnvironment: {type: string}
                breakReminders: {type: boolean}
                soundEnabled: {type: boolean}
                darkMode: {type: boolean}
      responses:
        200: {description: Updated}
        401: {description: Unauthorized}

  /api/user/delete:
    delete:
      tags: [User]
      summary: Permanently delete account and all data (GDPR)
      responses:
        200: {description: Account deleted}
        401: {description: Unauthorized}

  /api/export:
    get:
      tags: [User]
      summary: Export all user data (GDPR data portability)
      responses:
        200: {description: Full data export JSON}
        401: {description: Unauthorized}

  /api/push/subscribe:
    post:
      tags: [Notifications]
      summary: Register a push notification token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pushToken]
              properties:
                pushToken: {type: string}
                platform: {type: string, enum: [expo, fcm, apns]}
      responses:
        200: {description: Token registered}
        401: {description: Unauthorized}

  /api/push/send:
    post:
      tags: [Notifications]
      summary: Send push notification to a user (admin only)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, body, userId]
              properties:
                title: {type: string, maxLength: 100}
                body: {type: string, maxLength: 500}
                userId: {type: string, format: uuid}
      responses:
        200: {description: Sent}
        401: {description: Unauthorized}
        403: {description: Admin only}

  /api/devices:
    get:
      tags: [Devices]
      summary: List registered devices for the user
      responses:
        200: {description: Devices}
        401: {description: Unauthorized}

  /api/admin/stats:
    get:
      tags: [Admin]
      summary: Platform-wide statistics (admin only)
      responses:
        200: {description: Admin stats}
        401: {description: Unauthorized}
        403: {description: Admin only}

  /api/admin/users:
    get:
      tags: [Admin]
      summary: List all users with pagination (admin only)
      parameters:
        - {in: query, name: page, schema: {type: integer, default: 1}}
        - {in: query, name: search, schema: {type: string}}
      responses:
        200: {description: User list}
        403: {description: Admin only}

  /api/admin/users/{id}:
    get:
      tags: [Admin]
      summary: Get user detail (admin only)
      parameters:
        - {in: path, name: id, required: true, schema: {type: string, format: uuid}}
      responses:
        200: {description: User detail}
        403: {description: Admin only}
    patch:
      tags: [Admin]
      summary: Update user role or subscription tier (admin only)
      parameters:
        - {in: path, name: id, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role: {type: string, enum: [USER, ADMIN]}
                subscriptionTier: {type: string, enum: [FREE, PRO, TEAM]}
      responses:
        200: {description: Updated}
        403: {description: Admin only}
    delete:
      tags: [Admin]
      summary: Delete user account (admin only)
      parameters:
        - {in: path, name: id, required: true, schema: {type: string, format: uuid}}
      responses:
        200: {description: Deleted}
        403: {description: Admin only}

  /api/health:
    get:
      tags: [Health]
      summary: Health check endpoint
      security: []
      responses:
        200:
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: {type: string, example: ok}
                  version: {type: string}
